// Import Styles
@import "./config";
@import "./menu";

// General Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.logo {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  img {
    height: 10rem;
    width: 10rem;
  }
}

// Header Section
header {
  background-color: white;

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border: 1px solid gray;
    .menu-list {
      display: flex;
      list-style: none;
      text-transform: capitalize;

      .menu-item {
        a {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 0 1.5rem;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

// Home Main Section
#home {
  .showcase {
    width: 100vw;
    margin: auto;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background-kili.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1,
    h2 {
      text-transform: capitalize;
      padding: 1rem;
      // font-weight: 500;
    }
  }

  .sectionfirst {
    display: flex;
    flex-direction: column;
    min-height: 30rem;

    h2 {
      width: 80vw;
      margin: auto;
      padding: 1rem;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 80vw;
      margin: auto;
    }
    .card {
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      text-align: center;
      border: 1px solid $secondary-Color;
      margin: 1rem 0.5rem;
      border-radius: 10px;

      i {
        font-size: 3rem;
        color: darken($color: $primary-Color, $amount: 9);
        padding: 1rem 0;
      }

      h3 {
        text-transform: capitalize;
        padding: 1rem;
        font-weight: 500;
      }
      p {
        line-height: 1.5;
      }
    }
  }

  .sectionsecond {
    color: $text-Color;
    background-image: url("../images/lion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 80vw;
      margin: auto;
      .card {
        padding: 2rem 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        margin: 1rem 0.5rem;
        h3,
        i {
          font-size: 3rem;
          padding: 1rem;
        }
      }
    }
  }
}
// Showcase Section
.showcase {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 100vw;
  background-image: url("../images/tribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-transform: capitalize;
    padding: 0 0 1rem 0;
  }
  h2 {
    text-transform: capitalize;
  }
}
// About Main Section
#about {
  .content {
    .container {
      width: 80vw;
      margin: auto;
      padding: 3rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      line-height: 1.5;
      grid-gap: 2rem;

      h2 {
        padding: 1rem;
        text-transform: capitalize;
      }
      p {
        padding: 1rem;
      }
      .mission {
        grid-column: 1 / 2;
        grid-row: 1;
        border: 1px solid $secondary-Color;
        border-radius: 4px;
      }
      .vision {
        grid-column: 1 / 2;
        grid-row: 2;
        border: 1px solid $secondary-Color;
        border-radius: 4px;
      }
      .about-info {
        grid-column: 2 / 5;
        grid-row: 1 / 3;
        align-self: center;
        height: 100%;
        border: 1px solid $secondary-Color;
        border-radius: 4px;
      }

      .values {
        grid-column: 1 / 5;
        grid-row: 6;
        line-height: 1.5;
        border: 1px solid $secondary-Color;

        h2 {
          padding: 1rem;
          text-transform: capitalize;
        }
        h3 {
          text-transform: capitalize;
        }
      }
      .section {
        grid-column: 1 / 5;
        grid-row: 3;
        padding: 1rem;
      }
      .card {
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        img {
          width: 100%;
          height: auto;
          border-radius: 4px 4px 0 0;
        }
        h3 {
          padding: 0.5rem;
        }
        p {
          padding: 0.5rem 0;
        }
      }
    }
  }
}
// Project Main Section
#projects {
  .content {
    h3 {
      text-transform: capitalize;
      color: black;
      text-align: center;
      padding: 1rem;
    }
    .container {
      width: 80vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;

      .project-name {
        border: rgb(184, 182, 182) 1px solid;
        margin: 1rem;
        border-radius: 4px;
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          border-radius: 4px 4px 0 0;
        }

        h2 {
          text-transform: capitalize;
          margin-left: 1rem;
          position: absolute;
          top: 50%;
          color: $text-Color;
          background: rgba($primary-Color, 0.7);
          padding: 0.5rem;
          width: 90%;
        }
        p {
          line-height: 1.5;
          margin-left: 1rem;
        }
      }
    }
  }
}
// Events Main Section
#events {
  .content {
    h3 {
      text-align: center;
      text-transform: capitalize;
      padding: 1rem;
    }
    .container {
      width: 80vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .project-name {
        border: rgb(184, 182, 182) 1px solid;
        margin: 1rem;
        border-radius: 4px;
        color: black;

        h2 {
          text-transform: capitalize;
          margin-left: 1rem;
          color: black;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 4px 4px 0 0;
        }

        h4 {
          text-transform: capitalize;
          margin-left: 1rem;
        }
        p {
          line-height: 1.5;
          margin-left: 1rem;
        }
      }
    }
  }
}
// Blog Main Section
#blog {
  .content {
    h3 {
      text-transform: capitalize;
      text-align: center;
      padding: 1rem;
    }
    .container {
      width: 80vw;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 1rem;

      .latest {
        border-right: 1px solid $border-Color;
        .news {
          margin: 1rem;

          a {
            text-decoration: none;
            color: $dark-Color;
          }
          img {
            width: 100%;
            height: auto;
          }

          h2 {
            text-transform: capitalize;
          }
          h6 {
            text-transform: capitalize;
          }
          h4 {
            line-height: 1.5;
          }
        }
      }
    }
    .archives {
      h3 {
        text-align: center;
        text-transform: capitalize;
      }
      .news-archives {
        margin: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: $border-Color 1px solid;
        a {
          text-decoration: none;
          color: $dark-Color;
          display: flex;
        }
        img {
          width: 50%;
          height: auto;
        }

        h2,
        h6 {
          text-transform: capitalize;
          margin-left: 1rem;
        }
        p {
          margin-left: 1rem;
          padding-bottom: 0.5rem;
        }
        h4 {
          line-height: 1.5;
          margin-left: 1rem;
        }
      }
    }
  }
}

// Contact Main Section
#contact {
  .content {
    h2 {
      text-transform: capitalize;
      text-align: center;
      padding: 1rem;
    }
    .container {
      width: 80vw;
      margin: auto;
      padding: 1rem;
      border-radius: 10px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .contact-info {
        .info {
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          ul {
            list-style: none;
            li {
              padding: 1rem 0 1rem 0;
              line-height: 1.5;

              span {
                font-size: xx-large;
                padding-right: 0.5rem;
                color: $primary-Color;
              }
            }
          }
        }
      }
      input,
      select,
      textarea {
        width: 100%;
        padding: 0.9rem;
        border-radius: 4px;
        resize: vertical;
        margin: 0.5rem 0 1rem 0;
      }
      .btn {
        background-color: $primary-Color;
        color: $text-Color;
        border: none;
        cursor: pointer;

        &:hover {
          color: $text-Color;
          background-color: darken($color: $primary-Color, $amount: 9);
        }
      }
    }
  }
}
// Donate Main Section
#donate {
  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    background-image: url("../images/donate.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      text-transform: capitalize;
      padding: 0 0 1rem 0;
    }
    h2 {
      text-transform: capitalize;
    }
  }
  .content {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 80vw;
      margin: auto;
      padding: 3rem 0;

      .card {
        text-align: center;
        border-radius: 4px;
        line-height: 1.5;
        border: 1px solid red;
        margin: 1rem;

        .level {
          background-color: grey;
          border-radius: 4px 4px 0 0;

          h1 {
            text-transform: capitalize;
            color: $text-Color;
            letter-spacing: 2px;
          }
        }
        .amount {
          padding: 1rem;
          text-transform: capitalize;
          background-color: rgb(216, 206, 206);
          h2 {
            color: lightgreen;
          }
        }
        .donate-content {
          border-top: 1px solid blue;
          padding: 1rem;
          p {
            margin: 1rem;
          }
        }
        .donate-btn {
          padding: 1rem;

          .btn {
            border: none;
            outline: 0;
            background-color: blue;
            text-transform: capitalize;
            color: white;
            font-weight: 600;
            padding: 0.5rem 2.5rem;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Section Join the Community
.join {
  background-color: $primary-Color;
  color: white;
  .container {
    width: 80vw;
    height: 6rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      text-transform: capitalize;
      font-weight: 400;
      margin: 1rem;
    }
    button {
      border-radius: 10px;
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
      border: none;
      outline: 0;
      cursor: pointer;
      &:hover {
        color: $text-Color;
        background-color: darken($color: $primary-Color, $amount: 8);
      }
    }
  }
}

// Footer Section
footer {
  height: 11rem;
  background-color: $dark-Color;
  color: $text-Color;
  display: flex;
  flex-direction: column;

  .container {
    display: grid;
    width: 80vw;
    margin: auto;

    h2 {
      text-transform: capitalize;
      font-weight: 700;
      text-align: center;
      margin: 1rem;
    }
    .social,
    p {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 1rem;
      i {
        font-size: 2rem;
      }
    }
    p {
      font-weight: 100;
    }
  }
}
